<nav>
  <div class="site-title">
    <a href="/"><h1>XML-JS library </h1></a>
    <p>a UNIPI Thesis Project site</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
