<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About this project</h2>
    <p>This JavaScript/Node.js library is aimed to convert XML documents especially documents in TEI format to well formed scientif PDF.</p>
 </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
