<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About this project</h2>
    <p>The purpose of this project is to develop a JavaScript library which could convert easily any XML document to PDF format,  respect a related DTD schema. The main goal of this library would be making programmers and users able to produce well-formed scientific PDF base on Encoded-Texts.</p>
    <p>Over the years since JavaScript came into being, many attempts have been made to provide a library similar to what we are looking for, most of which have either failed or been left unfinished. What we seek to do is to create a window of hope at the heart of these endless efforts. We may not reach the ideal result at the end of our experiment, but we hope to light this road for helping other developers. Maybe later o sooner everybody around the globe could take advantage of a reliable yet easy to use JavaScript library to convert XML documents to well-formed and even scientific PDFs.</p>
 </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
